body {
    background-color: #404040;
    color: #eee;
    font-family: Helvetica, Arial;
}

div#visualizer {
    font: 25px/25px Arial;
    width: 680px;
    height: 720px;
    background: #333;
    margin: auto;
}

#visualizer table {
    border-collapse: collapse;
    margin: auto;
}

#visualizer_board td {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0px;
    font-family: 'robots';
    font-size: 24px;
}

#visualizer_board td.red_tile {
    border: 1px solid gray;
    background: linear-gradient(to top left, #ff0000, #993333);
}

#visualizer_board td.green_tile {
    border: 1px solid gray;
    background: linear-gradient(to top left, #00aa44, #337733);
}

#visualizer_board td.blue_tile {
    border: 1px solid gray;
    background: linear-gradient(to top left, #0044ff, #333399);
}

#visualizer_buttons {
    text-align: center;
}

@font-face {
    font-family: 'robots';
    src: url('./robot.ttf') format('truetype');
}

#page {
    display: grid;
    grid-template-columns: 50% 100%;
}

#stack {
    display: flex;
    height: 200px;
    width: 80%;
    flex-direction: column;
}

.elt {
    /* background-color: dodgerblue; */
    width: 50%;
    height: 50%;
    /* border-style: solid; */
    text-align: center;
}

#message {
    margin-top: 10%;
    text-align: center;
}
